@import "../node_modules/bootstrap/scss/bootstrap.scss";

#bloc_page{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    max-width: 1800px;
    width: 100%;
    font-size: 2em; /* A modifier */
    position: relative;
    background-color: rgba(2, 0, 1, 0.507);
    padding: 0;
    margin : 0;
}

#background{
    position : relative;
    width: 100%;
    height: 100%;
    
}

#background::before{
    content : "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
}

#navbar{
    padding-bottom: 5%;
}

#Projects{
    text-align: center;
}

#About{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 8px rgba(255, 255, 255, 0.767);
}

a:hover{
    color:rgba(218, 216, 216, 0.979)
}

#presentation{
    text-align: center;
    text-shadow: 3px 3px 8px rgba(255, 255, 255, 0.767);
    padding-bottom: 15%;
    padding-top: 9%;
}

h2{
    font-size: 2.8em;
}