@import "../node_modules/bootstrap/scss/bootstrap.scss";

#bloc_page{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    max-width: 1800px;
    width: 100%;
    position: relative;
    background-color: rgba(2, 0, 1, 0.507);
    padding: 0;
    margin : 0;
    text-align: center;
}

#background{
    position : relative;
    width: 100%;
    height: 100%;
    
}

#background::before{
    content : "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
}

#presentation{
    text-align: center;
    text-shadow: 3px 3px 8px rgba(255, 255, 255, 0.767);
    padding-bottom: 15%;
    padding-top: 9%;
    font-size: 2em;
}

h2{
    font-size: 2.8em;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.767);
}

#navbar{
    padding-bottom: 5%;
    font-size: 2em;
}

.home{
    position : absolute;
    top: 1rem;
    left: 5px;
    font-size: 1.8em;
}
.card{
    font-size: 1em;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgba(245, 245, 220, 0);
    border: 0;
}

.card-img-top{
    border-radius: 20px;
    height: 200px;
    object-fit: cover;
    opacity: 0.8;
}

a{
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 8px rgba(255, 255, 255, 0.767);
}

a:hover{
    color:rgba(218, 216, 216, 0.979)
}

#imagelien{
    margin-top: 10%;
    padding-bottom: 3%;
    font-size: 2em;
}

.description{
    margin-top: 10%;
    font-size: 1.8em;
}

.imageProject{
    max-height: 300px;
    max-width: 600px;
    object-fit : cover;
}

#links{
    padding-top: 4%;
}

#about{
    text-align: center;
    text-shadow: 3px 3px 8px rgba(255, 255, 255, 0.767);
    padding-bottom: 15%;
    padding-top: 9%;
    font-size: 2em;
}

#skills h2{
    text-align: start;
    margin-left: 35%;
}

ul{
    list-style-type: circle;
    text-align: start;
    margin-left: 35%;;
    font-size: 1.6em;
}